* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* biggest */
.font-white-1 {
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: bold;
}

/* bigger */
.font-white-2 {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
}

/* big */
.font-white-3 {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
}

/* small bold */
.font-white-4,
.card-title {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}

/* medium */
.font-white-5 {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.font-white-6,
.stat-card p,
.card-info {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 200;
}

.dark-blue-1 {
    color: #1A0B2E;
    font-size: 1rem;
    font-weight: 600;
}

.dark-blue-2 {
    color: #1A0B2E;
    font-size: 1.125rem;
    font-weight: 600;
}

.green-background {
    background-color: #00FF88;
}

.gradient {
    background: linear-gradient(to right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}

.gradient-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    border-radius: 10000px;
    padding: 12.5px 16px;
}

.stat-container,
.why-container,
.podcast-container {
    width: 75rem;
    margin: 0 auto;
}

/* header style */
header {
    background-color: rgba(26, 11, 46, 1);
    
    
    background-repeat: no-repeat;
    /* background-position: 38px 23px,bottom right; */
}

/* nav style */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu a {
    text-decoration: none;
}

/* banar style  */

.banar {
    border-top: 1px solid rgba(68, 14, 68, 0.839);
    padding-top: 3.5rem;
    background: url("./assets/hero-bg.png");
    width: 100vw;
    
}

.banar-content {
    width: 35.5rem;
    margin: 0 auto;
    text-align: center;
}

.parent {
    position: relative;
    margin-bottom: 2.5rem;
}

.image-circle {
    width: 100%;
}

.image-mic {
    position: absolute;
    top: 20%;
    left: 39%;
}

.btn-new {
    position: absolute;
    right: 25%;
}

.banar-info {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.banar-sub-btn {
    background-color: transparent;
    border: 2px solid green;
    color: green;
    gap: 3px;
}

/* stat style */
.stat {
    background-color: #1A0B2E;
    padding-top: 9.43rem;
    padding-bottom: 7.5rem;
}


.stat-content {
    text-align: center;
    padding: 0 14.4rem;
}

.stat-info {
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.stat-cards {
    display: flex;
    justify-content: space-around;
}

.stat-card h1 {
    color: #00FF88;
}

/* why style */
.why {
    background-color: rgba(35, 14, 61, 1);
    padding-top: 7.5rem;
}

.why-title {
    text-align: center;
    margin-bottom: 2.5rem;
}

.why-card {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

.big-layout {
    grid-column: span 1;
    grid-row: span 2;
}

.wide-layout {
    grid-column: span 2;
    grid-row: span 1;
}

.small-layout {
    grid-column: span 1;
    grid-row: span 1;
}

.card-image {
    margin-bottom: 1rem;
}

.card-info {
    margin-bottom: 1rem;
}

.why-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2.3rem;
}

.why-card {
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    
}

/* podcast style */
.podcast{
    background-color: #1A0B2E;
    padding: 7.5rem 12.5rem;
}
.podcast-container h3{
    text-align: center;
}
.episode{
    
}
.episode-cards{
    display: flex; 
    justify-content: space-between;
}
.episode-card{
    max-width: 23.5rem;
    background-color: #250D44;
    border-radius: 1rem;
}
.card-video iframe{
    width: 100%;
    border-radius: 1rem;
}
.card-duration{
    color: #00FF88;
}
.host-container{
    display: flex;
}